<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Treinamento.Properties.Settings.banco_leoConnectionString"
            connectionString="Data Source=DS-01;Initial Catalog=banco_leo;User ID=sa;Password=Cal$5123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>